0 */2 * * * ees_sharepoint incremental-sync >> ~/incremental-sync.log 2>&1
0 0 */2 * * ees_sharepoint full-sync >> ~/full-sync.log 2>&1
0 * * * * ees_sharepoint deletion-sync >> ~/deletion-sync.log 2>&1
*/5 * * * * ees_sharepoint permission-sync >> ~/permission-sync.log 2>&1
